footer{
    background-image: url(../../image/main/chapel-mono.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: var(--BaseFont);
    color: white;
    hr{
        margin: 0;
        height: 2px;
        background: linear-gradient(to right, var(--MainColour), var(--SubColour), var(--MainColour));
        border: none;
    }
    #f-main{
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        .f-links{
            margin-bottom: 1rem;
            h3{
                margin: 0;
            }
            h3::selection{
                background: var(--SubColour);
                color: var(--SubColour2);
            }
            ul{
                margin: 0.5rem 0;
                padding-left: 1.5rem;
                a{
                    color: inherit;
                    text-decoration: underline;
                    letter-spacing: 0.125rem;
                    transition: all 240ms;
                }
                a:hover{
                    color: var(--SubColour);
                }a::selection{
                    background: var(--SubColour);
                    color: var(--SubColour2);
                }
            }
        }
    }
    #f-bottom{
        margin: 0.25rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #f-cred{
            align-content: center;
            p{
                margin: 0;
            }
        }
        #f-logo{
            --size: 1.5rem;
            height: var(--size);
            width: var(--size);
            background-image: url(../../image/brand/logo2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
#varaety{
    --size: 240px;
    width: var(--size);
    height: calc(var(--size) * 0.8);
    bottom: 0;
    background-image: url(../../image/main/varaety.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}