header{
    font-family: var(--BaseFont);
    background-color: hsl(0, 0%, 94%);
    padding: 0;
    hr{
        margin: 0;
        height: 2.5px;
        background: linear-gradient(to right, var(--MainColour), var(--SubColour), var(--MainColour));
        border: none;
    }
    nav{
        padding: 0.25rem 1rem;
        height: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        #rel_link{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            p{
                margin: 0;
                padding: 0;
                a{
                    color: hsl(0, 0%, 25%);
                    text-decoration: none;
                    font-weight: bold;
                    padding: 0.5rem 0.25rem;
                    margin: 0 1rem;
                    display: block;
                    text-align: center;
                    transition: all 240ms;
                }
                a:hover{
                    color: var(--SubColour);
                    text-shadow: 1px 1px rgb(45, 45, 45);
                }
            }
        }
        #hb-menu{
            --size: 2rem;
            height: var(--size);
            width: var(--size);
            margin: auto 0;
            padding: 0 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            hr{
                height: 0.125rem;
                width: var(--size);
                flex-wrap: wrap;
                border-radius: 0.125rem;
                background: linear-gradient(to right, var(--SubColour), var(--MainColour));
                border: none;
                transition: all 240ms;
            }
            p{
                margin: 0;
                background: linear-gradient(to right, var(--SubColour), var(--MainColour));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 0.625rem;
                text-align: center;
                font-weight: 900;
                transition: all 240ms;
                font-family: "Zen Kaku";
            }
        }
        #hb-menu:hover{
            cursor: pointer;
            filter: blur(0.25px);
            hr{
                box-shadow: 1px 1px rgb(45, 45, 45);
            }
            p{
                text-shadow: 0.5px 0.5px rgb(110, 110, 110);
            }
        }
        #hb-nav{
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: var(--MainColour) var(--SubColour);
            display: none;
            position: absolute;
            background: var(--MainColour);
            height: calc(100vh - (2.5rem + (0.25rem * 2) + 2.5px));
            width: 100%;
            top: calc(2.5rem + (0.25rem * 2) + 2.5px);
            left: 0;
            transition: all 240ms;
            z-index: 2;
            padding: 0;
            hr{
                border-radius: 0.125rem;
            }
            #nav-rel_link{
                margin: 0;
                padding: 0;
                display: block;
                width: max-content;
                text-align: center;
                h3{
                    color: hsl(0, 0%, 25%);
                    font-weight: bold;
                    margin: 0.5rem 0;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    a{
                        color: hsl(0, 0%, 25%);
                        text-decoration: none;
                        text-decoration: underline;
                        font-weight: bold;
                        padding: 0.5rem 0.25rem;
                        margin: 0.25rem 1rem;
                        display: block;
                        width: max-content;
                        transition: color 240ms;
                        transition: text-shadow 240ms;
                    }
                    a:hover{
                        color: var(--SubColour);
                        text-shadow: 1px 1px rgb(45, 45, 45);
                    }
                }
            }
            #projects-container{
                width: 100%;
                display: grid;
                height: calc(100vh - (2.5rem + (0.25rem * 2) + 2.5px));;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                .project{
                    font-family: var(--AltFont);
                    color: white;
                    padding: 10px;
                    align-content: center;
                    a {
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        color: inherit;
                        text-align: center;
                    }
                    h3{
                        letter-spacing: 0.125rem;
                        transition: text-shadow 0.2s ease;
                    }
                    p{
                        display: none;
                        text-align: left;
                    }
                    a:hover{
                        .image{
                            border-radius: 12.5%;
                        }
                        h3{
                            text-shadow: 2px 2px grey;
                        }
                    }
                    .image{
                        margin: 20px auto;
                        border: 2px solid white;
                        border-radius: 100%;
                        width: 180px;
                        height: 180px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        transition: border-radius 0.2s ease;
                    }
                }
            }
            @media(max-width: 680px){
                #nav-rel_link{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                }
            }
            @media(max-width: 440px){
                #nav-rel_link{
                    display: block;
                    width: 100%;
                    justify-content: space-around;
                    ul{
                        a{
                            font-size: 1.125rem;
                        }
                    }
                }
                #projects-container{
                    display: none;
                }
            }
        }
    }
    @media(max-width: 680px){
        nav{
            .mobhid{
                display: none;
            }
            #hb-menu{
                margin-left: auto;
            }
        }
    }
}
@media(max-width: 680px){
    header{
        position: sticky;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}