#prvdiv /*#id when used for render*/{
.ql-align-center{text-align:center;}
.ql-align-justify{text-align:justify;}
.ql-align-right{text-align:right;}

.ql-indent-1{padding-left:2em;}
.ql-indent-2{padding-left:4em;}
.ql-indent-3{padding-left:6em;}
.ql-indent-4{padding-left:8em;}
.ql-indent-5{padding-left:10em;}
.ql-indent-6{padding-left:12em;}
.ql-indent-7{padding-left:14em;}
.ql-indent-8{padding-left:16em;}

p,h2,h3{margin:0.5rem;}
p{min-height:1rem;letter-spacing:1px;font-size:clamp(0.75rem,2vw,1rem);}
h2{font-size:clamp(1rem,3vw,1.75rem);}
h3{font-size:clamp(0.875rem,2.25vw,1.25rem);}
img{min-width:12rem;max-width:45%;max-height:25rem;margin:0.25rem 0.1rem;}
.ql-font-zen-maru{font-family:"Zen Maru",sans-serif;}
.ql-font-zen-kaku{font-family:"Zen Kaku",sans-serif;}
.ql-font-zen-min{font-family:"Zen Min",serif;}
a{color:#06c;}
}