html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
}
@font-face {
    font-family: "M-plus rounded";
    src: url("../fonts/MPLUSRounded1c-Regular.woff2");
    font-display: swap;
}
@font-face {
    font-family: "M-plus rounded bold";
    src: url("../fonts/MPLUSRounded1c-Bold.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Noto Serif";
    src: url("../fonts/NotoSerifJP-Regular.woff2");
    font-display: swap;
}
/* GSC color #479e88 */

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 94%);
    padding: 0;

    hr {
        margin: 0;
        height: 2.5px;
        background-color: #479e88;
        border: none;
    }

    #navbar {
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    
        #rel_link {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        
            a {
                color: hsl(0, 0%, 25%);
                text-decoration: none;
                padding: 15px 5px;
                margin: 0 25px;
                display: block;
                text-align: center;
                transition: all 240ms;
            }
            a:visited {
                color: hsl(0, 0%, 25%);
            }
            a:hover {
                color: hsl(180, 100%, 35%);
            }

        }
        p {
            margin: 0;
            
        }


        #sns_link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;

            .sns_image {
                height: 20px;
                padding: 10px 10px;
                transition: all 200ms;
            }
            .sns_image:hover {
                transform: scale(1.1);
            }
        }
    }
}
footer {
    background-color: rgb(220, 220, 220);
    font-size: small;

    #f-links {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid black;
        margin: 0 50px;
        flex-wrap: wrap;

        #f-main-link {
            margin: 16px 0;

            p {
                margin: 0;
            }
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
    a:visited {
        color: inherit;
    }
    a:hover {
        color: rgb(0, 180, 180);
    }

    #fnavbar {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;

        #f-sns-link {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .sns_image {
                height: 20px;
                padding: 10px 10px;
                transition: all 200ms;
            }
            .sns_image:hover {
                transform: scale(1.1);
            }
        }
    }

    #back2top {
        display: flex;
        justify-content: center;

        #b2t {
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            margin: 6px;

            #b2timg {
                height: 15px;
            }
        }
    }


}

main {

    /* ./index.php */

    #home-banner {
        text-align: center;
        color: white;
        background-image: url(../images/chapel.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 20px 0;
        h2 {
            text-align: center;
            font-size: clamp(2.5rem, 4vw, 4rem);
            margin: 0;
            color: white;
        }

        h3 {
            letter-spacing: 4px;
            font-size: clamp(0.8rem, 1.5vw, 2rem);
        }
        h4 {
            letter-spacing: 1px;
            font-size: clamp(0.75rem, 1.2vw, 1.8rem);
        }
    }
    #aboutus {
        display: flex;
        justify-content: space-evenly;
        margin: 50px 0;

        #slogan {
            
            color: hsl(0, 0%, 60%);
            text-shadow: 1px 1px 2px hsla(0, 0%, 40%, 0.25);
            width: min(500px, 35%);
            padding-left: 1.5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            font-size: clamp(0.9rem, 2.75vw, 2.2rem);
            font-family: "Noto Serif", "M-plus rounded bold", "Arial";
        }
        #au-description {
            
            display: flex;
            align-items: center;
            letter-spacing: 0.2rem;
            line-height: 1.8;
            width: min(700px, 45%);
            font-size: clamp(0.66rem, 1.33vw, 1rem);
            font-family: "M-plus rounded", "Arial";
        }
        
    }
    hr {
        margin: 20px 2em;
        border: 1px solid hsl(0, 0%, 50%);
        
    }
    #socialpage {
        margin: 0;
        background-color: #479e88;
        color: white;
        text-align: center;

        #socialpagenav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;
            .spn-container {
                padding: 10px;
                margin: 10px 0;

            }
                a {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: lighter;
                }
            
                .socialpagelogo {
                    height: 20px;
                    padding: 0 8px;
                    
                }
            }

        #socialpost {
            color: hsl(0, 0%, 25%);
            text-decoration: none;
            padding: 15px 5px;
            margin: 0;
            display: block;
            text-align: center;
        }
    }

    /* articles/index.php */
    #art-h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/campuspaint.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: 0;
        padding: 2%;

        h2 {
            text-align: center;
            font-size: clamp(2.5rem, 4vw, 4rem);
            margin: 0;
            color: white;
        }
            
    }
    #sortContainer {
        display: flex;

    }

    .sort {
        padding: 2px;
        margin: 0 10px;
    }
    select {
        border: none;
        outline: none;
    }
    #article-main {
        max-width: 90%;
        margin: 5px auto;
    }
}