html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(128, 128, 128);
    padding: 0;
    
    h1 {
        margin: 0;
        padding: 10px;
        text-align: center;
        color: white;
        background-color: #479e88;
    }
    hr {
        margin: 0;
        height: 2px;
        background-color: rgb(128, 128, 128);
        border: none;
    }

    #navbar {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    
        #rel_link {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        
            a {
                color: rgb(64, 64, 64);
                text-decoration: none;
                padding: 15px 5px;
                margin: 0 25px;
                display: block;
                text-align: center;
                transition: all 240ms;
            }
            a:hover {
                color: rgb(0, 180, 180);
            }
        }
        p {
            margin: 0;
            
        }


        #sns_link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;

            .sns_image {
                height: 20px;
                padding: 10px 10px;
                transition: all 200ms;
            }
            .sns_image:hover {
                transform: scale(1.1);
            }
        }
    }
}
footer {
    background-color: rgb(220, 220, 220);
    font-size: small;

    #f-links {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid black;
        margin: 0 50px;

        #f-main-link {
            margin: 16px 0;

            p {
                margin: 0;
            }
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
    a:visited {
        color: inherit;
    }
    a:hover {
        color: rgb(0, 180, 180);
    }

    #fnavbar {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;

        #f-sns-link {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .sns_image {
                height: 20px;
                padding: 10px 10px;
                transition: all 200ms;
            }
            .sns_image:hover {
                transform: scale(1.1);
            }
        }
    }

    #back2top {
        display: flex;
        justify-content: center;

        #b2t {
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            margin: 6px;

            #b2timg {
                height: 15px;
            }
        }
    }


}

main {
    
    h2 {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: clamp(40px, 4vw, 100px);
        margin: 0;
    }
    #home-banner {
        text-align: center;
        color: white;
        background-image: url(images/chapel.jpeg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 20px 0;
        h2 {
            color: white;
        }
        h3 {
            letter-spacing: 4px;
        }
    }
    #art-h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(images/h2background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: 0;
        padding: 2%;
        
        h2 {
            color: white;
        }
            
    }
}

/* articles/index.php */
#sortContainer {
    display: flex;

}

.sort {
    padding: 2px;
    margin: 0 10px;
}
select {
    border: none;
    outline: none;
}
#article-main {
    max-width: 90%;
    margin: 0 auto;
}
