@import url("font/font.css");
@import url("./var.css");
@import url("template/header.css");
@import url("template/footer.css");

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    font-family: var(--BaseFont);
    hr{
        margin: 0;
        height: 2.5px;
        background: linear-gradient(to right, var(--MainColour), var(--SubColour), var(--MainColour));
        border: none;
    }
}