@import url("font/font.css");
@import url("template/header.css");
@import url("template/footer.css");
@import url("var/var.css");
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
}
@keyframes fallIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* GSC color #479e88 */


main {

    /* ./index.php */


    /* articles/page */
    #pa {
        max-width: 90%;
        margin: auto;
        margin-bottom: 10px;
        font-family: "M-plus rounded", "Arial";

        img {
            width: 400px;
            max-width: 50%;
            border: 1px solid black;
        }
    }
    #padate {
        font-size: small;
        color: hsl(0, 0%, 33%);
    }
    #pamain {
        letter-spacing: 1px;
    }
    .iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    .iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    /* admin/login.php */
    #login-h2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    #login-form {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 30px;
        width: fit-content;
        margin: 20px auto;
        border: none;
        border-radius: 25px;
        background-color: hsl(0, 0%, 80%);
    }
    /* admin/index.php */
    #adh2 {
        text-align: center;
        font-family: "M-plus rounded", "Arial";
    }
    #adh4 {
        text-align: center;
        font-family: "M-plus rounded", "Arial";
    }
    #addScriptform {
        width: fit-content;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;

        input {
            font-size: 16px;
        }
        #title {
            width: 50%;
            font-size: 20px;
            font-family: "M-plus rounded", "Arial";
        }
        #url {
            width: 75vw;
            font-family: "M-plus rounded", "Arial";
        }

        textarea {
            resize: vertical;
            max-height: 66vh;
            min-height: 100px;
            width: 80vw;
            font-size: 16px;
            font-family: "M-plus rounded", "Arial";
        }
    }
    #adexm {
        border: 2px solid black;
        border-radius: 5px;
        padding: 1%;
        width: fit-content;
        max-width: 85%;
        margin: auto;
        margin-bottom: 15px;
        font-family: "M-plus rounded", "Arial";
        h2 {
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            unicode-bidi: isolate;
        }
        #padate {
            font-size: small;
            color: hsl(0, 0%, 33%);
        }
        #pamain {
            letter-spacing: 1px;
        }
        img {
            width: 350px;
            max-width: 50%;
            border: 1px solid black;
        }
    }
}